<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="bg-primary text-center p25">
        Where are you going this Spring break?!
      </h1>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <table class="table">
        <thead>
          <tr class="bg-info">
            <th scope="col">#</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Address</th>
            <th scope="col">Miles to White House</th>
          </tr>
        </thead>
        <tbody>
          <% 
            coordinates = [
              [61.582195, -149.443512],
              [44.775211, -68.774184],
              [25.891297, -97.393349],
              [45.787839, -108.502110],
              [35.109937, -89.959983]
            ] 
          %>
          
          <%# Set up White House address object%>
          <% whitehouse = Address.new %>
          <% whitehouse.geocode_with_full_address('1600 Pennsylvania Avenue NW Washington, D.C. 20500') %>

          <%# Get distance from each set of coordinates to White House %>  
          <% locations = [] %>
          <% coordinates.each do |coord| %>
            <% address = Address.new %>
            <% address.reverse_geocode(coord[0], coord[1]) %>
            <% address.distance_between([address.lat, address.lng], whitehouse.coordinates) %>
            <% locations << address %>
          <% end %>

          <%# Sort by distance to White House %>
          <% locations = locations.sort_by{ |loc| loc.miles_to_whitehouse } %>

          <%# List locations %>
          <% locations.each_with_index do |loc, i| %>
            <tr class="<%= i % 2 == 0 ? 'bg-success' : 'bg-danger' %>">
              <th scope="row"><%= i + 1 %></th>
              <td>
                <%= loc.lat %>
              </td>
              <td>
                <%= loc.lng %>
              </td>
              <td>
                <%= loc.full_address %>
              </td>
              <td> 
                <%= loc.miles_to_whitehouse.round(2)  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
